.sign-in {
    border: 1px solid gray;
    margin-top: 50px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px lightgray;
    background: whitesmoke
}

.sign-in-button {
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    background: lightsteelblue;

    &:hover{
        background: steelblue;
        color: white;
    }
}