.quote-container {
  border-radius: 5px;
  border: 2px solid black;
  box-shadow: 5px 5px 10px silver;
  padding: 25px;
  margin: 25px;
  width: 600px;
  background: rgba(0, 150, 0, 0.3);
  text-align: center;
}