.break-timer {
  border-radius: 5px;
  border: 2px solid black;
  box-shadow: 5px 5px 10px silver;
  padding: 25px;
  width: 90%;
  background: rgba(150, 0, 0, 0.3);
  text-align: center;
  margin: 25px;
}

.timer {
  color: red;
  padding: 0px;
  width: 100px;
  margin: 0 auto;
  font-size: 1.2rem;
  background: white;
  border: gray 2px solid;
  border-radius: 5px;
}