.break-timer {
  border-radius: 5px;
  border: 2px solid black;
  box-shadow: 5px 5px 10px silver;
  padding: 25px;
  width: 90%;
  background: rgba(150, 0, 0, 0.3);
  text-align: center;
  margin: 25px;
}