.break-timer {
  border-radius: 5px;
  border: 2px solid black;
  box-shadow: 5px 5px 10px silver;
  padding: 10px;
  width: 100%;
  background: rgb(238, 225, 225);
  text-align: center;
  height: 15vh;
}

.timer {
  padding: 0px;
  width: 100px;
  margin: 0 auto;
  font-size: 1.2rem;
  background: white;
  border: gray 2px solid;
  border-radius: 5px;
}