.chat-container {
    margin-top: 100px;
    height: 600px;
    width: 100%;
    border: solid gray 2px;
    display: flex;
    border-radius: 10px;
    box-shadow: 10px 10px 10px silver;

    .chat-content {
      width: 75%;
      height: 100%;
      overflow: scroll;
      border-right: 2px gray solid;
      padding: 25px;
    }

    .chat-users {
      padding: 20px 0px;
      width: 25%;
      overflow: scroll;
      text-align: center;
      background-color: rgba(102, 153, 244, 0.3);

      .chat-user {
        padding: 10px;
      }
    }
}

