.post-container {
  width: 90%;
  padding: 10px;
  border-radius: 5px;
  border: gray 2px solid;
  box-shadow: 10px 10px 10px silver;
  overflow: scroll;
  margin: 0 auto;
  background: lightcyan;
  height: auto;
}