.meditation-container {
  border-radius: 5px;
  border: 2px solid black;
  box-shadow: 5px 5px 10px silver;
  padding: 25px;
  width: 300px;
  background: rgba(0, 0, 150, 0.3);
  text-align: center;
  margin: 25px;

  .form-input,
  .form-label {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 5px;
  }
  .add-meditation-button {
    margin-top: 15px;
    background: silver;
    color: black;
    border: none;

    &:hover {
     background: lightgray;
     color: black;
    }
  }
  
}